table {
  width: 100%;
}

.mat-column-ingName {
  width: 30%;
}

.mat-column-ingAmt {
  width: 10%;
}

.mat-column-ingredType{
  width: 20%;
}

.mat-column-freshness{
  width:20% ;
}

.mat-column-actions {
  width: 20%;
}

