<div class="row">
    <div class="col-md-6">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="formGroupExampleInput">First name</label>
                        <input class="form-control" type="text" formControlName="firstName">
                        <div *ngIf="!profileForm.get('firstName')?.valid && profileForm.get('firstName')?.touched" class="help-block">firstName is invalid</div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="formGroupExampleInput">First name</label>
                        <input class="form-control" type="text" formControlName="lastName">
                    </div>
                </div>
            </div>
            <div class="address-section" formGroupName="address">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="formGroupExampleInput">street</label>
                            <input class="form-control" type="text" formControlName="street">
                        </div>
    
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="formGroupExampleInput">city</label>
                            <input class="form-control" type="text" formControlName="city">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="formGroupExampleInput">state</label>
                            <input class="form-control" type="text" formControlName="state">
                        </div>
    
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="formGroupExampleInput">zip</label>
                            <input class="form-control" type="text" formControlName="zip">
                            <div *ngIf="!profileForm.get('address.zip')?.valid && profileForm.get('address.zip')?.touched">Invalid Zip code</div>
                        </div>
                    </div>
                </div>

                <div formArrayName="locations">
                    <h3>Locations</h3>
                    <div class="form-group" *ngFor="let location of locations.controls; let i=index">
                        <input type="text" [formControlName]="i">
                    </div>
                    <button (click)="onAddLocation()">Add Locations</button>
                </div>

                <div *ngIf="!profileForm.get('address')?.valid && profileForm.get('address')?.touched">Address section is invalid</div>
            </div> 
            <button [disabled]="!profileForm.valid && profileForm.touched" class="btn btn-primary" type="submit">Submit</button>
            <button [disabled]=" profileForm.touched" class="btn btn-secondary ml-3" type="button">clear</button>
        </form>


    </div>
</div>